In [ ]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns

In [30]:
ruta = r"..\\data\raw\Niveles_final_nuevosBH_MA (03092025).xlsx"
# Nombre de la hoja a leer
nombre_hoja = 'Datos_limpios'

# Leer el archivo Excel sin convertir fechas autom√°ticamente
df_niveles = pd.read_excel(ruta, sheet_name=nombre_hoja, skiprows=None, parse_dates=True)

df_niveles.head()

,holeid,sector,acuifero,este_utm,norte_utm,elevacion,elevacion_instrumento_(msnm)-(toc),stickup,date,hora,depth,nivel_estatico_(msnm),nivel_estatico_calculado_(msnm),observaciones
0,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2024-03-21,11:50:00,NaN,2644.059,2644.059,NaN
1,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2024-01-22,10:05:00,NaN,2644.065,2644.065,NaN
2,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2023-12-21,10:50:00,NaN,2643.996,2643.996,NaN
3,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2023-11-24,14:50:00,NaN,2643.934,2643.934,NaN
4,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2023-10-20,09:56:00,NaN,2644.065,2644.065,NaN

In [31]:
df_niveles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557305 entries, 0 to 557304
Data columns (total 14 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   holeid                              557305 non-null  object
 1   sector                              557305 non-null  object
 2   acuifero                            557305 non-null  object
 3   este_utm                            557305 non-null  float64
 4   norte_utm                           557305 non-null  float64
 5   elevacion                           172386 non-null  float64
 6   elevacion_instrumento_(msnm)-(toc)  545667 non-null  float64
 7   stickup                             3298 non-null    float64
 8   date                                557305 non-null  datetime64[ns]
 9   hora                                74718 non-null   object
 10  depth                               526378 non-null  float64
 11  nivel_estatico_(msnm)               556587 non-null  float64
 12  nivel_estatico_calculado_(msnm)     348512 non-null  float64
 13  observaciones                       718 non-null     object
dtypes: datetime64[ns](1), float64(8), object(5)
memory usage: 59.5+ MB

In [32]:
df_niveles['hora'] = pd.to_datetime(df_niveles['hora'], errors='coerce').dt.time

In [33]:
df_niveles.dtypes

holeid                                        object
sector                                        object
acuifero                                      object
este_utm                                     float64
norte_utm                                    float64
elevacion                                    float64
elevacion_instrumento_(msnm)-(toc)           float64
stickup                                      float64
date                                  datetime64[ns]
hora                                  datetime64[ns]
depth                                        float64
nivel_estatico_(msnm)                        float64
nivel_estatico_calculado_(msnm)              float64
observaciones                                 object
dtype: object

In [34]:
df_niveles.shape

(557305, 14)

In [35]:
# from sqlalchemy import create_engine

# # Crear conexi√≥n a la base de datos
# engine = create_engine('postgresql://cesar.godoy:Godoka1977$@192.168.128.10:5432/db_integrada_mlp')

# sql_query_infra = 'SELECT * FROM "hlg_mlp_infraestructuras_best"'
# df_collar = pd.read_sql(sql_query_infra, engine)

# df_collar.head()

In [36]:
# # Actualizar id_estacion en df_caudal_aforos usando df_collar como referencia
# # Hacer merge para obtener el id_estacion correspondiente basado en holeid
# df_niveles = df_niveles.merge(
#     df_collar[['holeid', 'id_estacion']], 
#     on='holeid', 
#     how='left',
#     suffixes=('', '_new')
# )

# # Actualizar el campo id_estacion con los nuevos valores
# df_niveles['id_estacion'] = df_niveles['id_estacion_new']

# # Eliminar la columna temporal
# df_niveles = df_niveles.drop('id_estacion_new', axis=1)

# # Verificar el resultado
# print("Actualizaci√≥n completada")
# print(f"Registros actualizados: {df_niveles['id_estacion'].notna().sum()}")
# print(f"Registros sin match: {df_niveles['id_estacion'].isna().sum()}")

# df_niveles.head()

In [ ]:
# # Actualizar el campo 'objectid' con un serial √∫nico para cada registro, iniciando en 1
# df_niveles['objectid'] = range(1, len(df_niveles) + 1)

In [37]:
df_niveles.head()

,holeid,sector,acuifero,este_utm,norte_utm,elevacion,elevacion_instrumento_(msnm)-(toc),stickup,date,hora,depth,nivel_estatico_(msnm),nivel_estatico_calculado_(msnm),observaciones
0,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2024-03-21,NaT,NaN,2644.059,2644.059,NaN
1,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2024-01-22,NaT,NaN,2644.065,2644.065,NaN
2,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2023-12-21,NaT,NaN,2643.996,2643.996,NaN
3,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2023-11-24,NaT,NaN,2643.934,2643.934,NaN
4,AR-1569,Pampa Cere,ACI,523584.794,7541420.138,2656.29,2656.29,NaN,2023-10-20,NaT,NaN,2644.065,2644.065,NaN

In [38]:
df_niveles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557305 entries, 0 to 557304
Data columns (total 14 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   holeid                              557305 non-null  object
 1   sector                              557305 non-null  object
 2   acuifero                            557305 non-null  object
 3   este_utm                            557305 non-null  float64
 4   norte_utm                           557305 non-null  float64
 5   elevacion                           172386 non-null  float64
 6   elevacion_instrumento_(msnm)-(toc)  545667 non-null  float64
 7   stickup                             3298 non-null    float64
 8   date                                557305 non-null  datetime64[ns]
 9   hora                                0 non-null       datetime64[ns]
 10  depth                               526378 non-null  float64
 11  nivel_estatico_(msnm)               556587 non-null  float64
 12  nivel_estatico_calculado_(msnm)     348512 non-null  float64
 13  observaciones                       718 non-null     object
dtypes: datetime64[ns](2), float64(8), object(4)
memory usage: 59.5+ MB

In [ ]:
# ==============================================================
# DASHBOARD DE AN√ÅLISIS DE DISTRIBUCI√ìN DE NIVELES - FlowHydroTech
# Adaptado para df_niveles (nivel_estatico_(msnm))
# ==============================================================

import plotly.io as pio
pio.renderers.default = 'notebook_connected'

import pandas as pd
import numpy as np
from scipy import stats
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import ipywidgets as widgets
from ipywidgets import VBox, HBox
from IPython.display import display, HTML

# ==============================================================
# CONFIGURACI√ìN DE COLOR Y DATAFRAME
# ==============================================================

COLORS = {
    'primary': '#2563eb',
    'secondary': '#10b981',
    'accent': '#f59e0b',
    'danger': '#ef4444'
}

_df = df_niveles.copy()

# Renombrar columnas seg√∫n nombres exactos
_df = _df.rename(columns={
    'date': 'fecha',
    'nivel_estatico_(msnm)': 'nivel_msnm'
})

# Verificaci√≥n de columnas m√≠nimas requeridas
required_cols = ['holeid', 'fecha', 'nivel_msnm']
for c in required_cols:
    if c not in _df.columns:
        raise ValueError(f"‚ùå Falta la columna requerida: {c}")

# Conversi√≥n y limpieza
_df['fecha'] = pd.to_datetime(_df['fecha'], errors='coerce')
_df['nivel_msnm'] = pd.to_numeric(_df['nivel_msnm'], errors='coerce')
_df = _df.dropna(subset=['fecha', 'holeid', 'nivel_msnm'])

print(f"‚úÖ Dataset cargado correctamente: {len(_df):,} registros")

# ==============================================================
# WIDGETS DE SELECCI√ìN
# ==============================================================

w_holeid = widgets.Dropdown(
    options=['<Todos>'] + sorted(_df['holeid'].dropna().unique().tolist()),
    description='HoleID:',
    style={'description_width': '80px'},
    layout=widgets.Layout(width='300px')
)

w_bins = widgets.IntSlider(value=30, min=10, max=100, step=5, description='Bins:')
w_remove_na = widgets.Checkbox(value=True, description='Eliminar NaN')
w_show_outliers = widgets.Checkbox(value=True, description='Mostrar outliers')

output = widgets.Output()

# ==============================================================
# FUNCI√ìN DE VISUALIZACI√ìN
# ==============================================================

def create_viz(*args):
    output.clear_output()
    with output:
        df_filt = _df.copy()
        if w_holeid.value != '<Todos>':
            df_filt = df_filt[df_filt['holeid'] == w_holeid.value]

        x = df_filt['nivel_msnm']
        if w_remove_na.value:
            x = x.dropna()

        if len(x) < 5:
            display(HTML("<div style='color:red; padding:20px;'>‚ö†Ô∏è Datos insuficientes para an√°lisis</div>"))
            return

        # Crear figura
        fig = make_subplots(
            rows=2, cols=2,
            subplot_titles=['üìà Distribuci√≥n + KDE', 'üéØ Q-Q Plot', 'üì¶ Box Plot', 'üìÖ Serie Temporal + Outliers'],
            specs=[[{}, {}], [{}, {}]]
        )

        # --- HISTOGRAMA + KDE ---
        fig.add_trace(go.Histogram(
            x=x, nbinsx=w_bins.value, opacity=0.7, name="Histograma",
            marker_color=COLORS['primary'], histnorm='probability density'
        ), row=1, col=1)

        if len(x) > 5:
            kde = stats.gaussian_kde(x)
            x_range = np.linspace(x.min(), x.max(), 200)
            fig.add_trace(go.Scatter(
                x=x_range, y=kde(x_range), mode='lines', name='KDE',
                line=dict(color=COLORS['secondary'], width=3)
            ), row=1, col=1)

        # --- Q-Q PLOT ---
        prob_res = stats.probplot(x, dist='norm')
        (osm, osr) = prob_res[0]
        slope, intercept, r = prob_res[1]

        fig.add_trace(go.Scatter(
            x=osm, y=osr, mode='markers', name=f'Q-Q (R¬≤={r**2:.3f})',
            marker=dict(color=COLORS['primary'], size=6)
        ), row=1, col=2)
        fig.add_trace(go.Scatter(
            x=osm, y=(slope * osm + intercept), mode='lines', name='Referencia',
            line=dict(color=COLORS['secondary'], width=2)
        ), row=1, col=2)

        # --- BOX PLOT ---
        fig.add_trace(go.Box(
            y=x, name=w_holeid.value if w_holeid.value != '<Todos>' else 'Todos',
            boxpoints='outliers' if w_show_outliers.value else False,
            marker_color=COLORS['accent']
        ), row=2, col=1)

        # --- SERIE TEMPORAL ---
        df_temp = df_filt[['fecha', 'nivel_msnm']].dropna().sort_values('fecha')
        if len(df_temp) > 5:
            fig.add_trace(go.Scatter(
                x=df_temp['fecha'], y=df_temp['nivel_msnm'],
                mode='lines+markers',
                name='Serie Original',
                line=dict(color=COLORS['primary'], width=1.5),
                marker=dict(size=4, color=COLORS['primary']),
                hovertemplate="<b>Fecha:</b> %{x}<br><b>Nivel (msnm):</b> %{y:.3f}<extra></extra>"
            ), row=2, col=2)

            window_size = max(3, min(30, len(df_temp)//10))
            df_temp['media_movil'] = df_temp['nivel_msnm'].rolling(window=window_size, center=True, min_periods=1).mean()
            fig.add_trace(go.Scatter(
                x=df_temp['fecha'], y=df_temp['media_movil'],
                mode='lines', name=f'Media M√≥vil ({window_size})',
                line=dict(color=COLORS['secondary'], width=3)
            ), row=2, col=2)

            # Outliers (IQR)
            if w_show_outliers.value:
                Q1, Q3 = x.quantile(0.25), x.quantile(0.75)
                IQR = Q3 - Q1
                lower, upper = Q1 - 1.5*IQR, Q3 + 1.5*IQR
                df_out = df_temp[(df_temp['nivel_msnm'] < lower) | (df_temp['nivel_msnm'] > upper)]
                if len(df_out) > 0:
                    fig.add_trace(go.Scatter(
                        x=df_out['fecha'], y=df_out['nivel_msnm'],
                        mode='markers', name=f'Outliers ({len(df_out)})',
                        marker=dict(color='rgba(37,99,235,0.7)', size=10, symbol='circle',
                                    line=dict(color='#ef4444', width=2))
                    ), row=2, col=2)
                    fig.add_hline(y=upper, line_dash="dot", line_color='#f87171',
                                    opacity=0.5, annotation_text=f"Upper: {upper:.2f}", row=2, col=2)
                    fig.add_hline(y=lower, line_dash="dot", line_color='#f87171',
                                    opacity=0.5, annotation_text=f"Lower: {lower:.2f}", row=2, col=2)

        fig.update_layout(
            height=700, width=1400,
            title=f"üî¨ An√°lisis de Niveles Est√°ticos - {w_holeid.value if w_holeid.value != '<Todos>' else 'Todos los Pozos'}",
            showlegend=True, template='plotly_white',
            margin=dict(l=60, r=60, t=80, b=60)
        )
        fig.show()

        # --- ESTAD√çSTICOS DESCRIPTIVOS ---
        desc = x.describe()
        skew_val = x.skew()
        kurt_val = x.kurtosis()

        display(HTML(f"""
        <div style='background:white; padding:20px; border-radius:12px; margin-top:20px; border:1px solid #e2e8f0;'>
            <h3>üìã Estad√≠sticos Descriptivos</h3>
            <div style='display:grid; grid-template-columns:repeat(4,1fr); gap:16px;'>
                <div><strong>Media:</strong> {desc['mean']:.3f}</div>
                <div><strong>Mediana:</strong> {desc['50%']:.3f}</div>
                <div><strong>Desv.Std:</strong> {desc['std']:.3f}</div>
                <div><strong>Rango:</strong> {(desc['max'] - desc['min']):.3f}</div>
                <div><strong>Q1:</strong> {desc['25%']:.3f}</div>
                <div><strong>Q3:</strong> {desc['75%']:.3f}</div>
                <div><strong>Asimetr√≠a:</strong> {skew_val:.3f}</div>
                <div><strong>Curtosis:</strong> {kurt_val:.3f}</div>
            </div>
            <div style='margin-top:16px; padding:12px; background:#f0f9ff; border-radius:8px;'>
                <strong>üí° Interpretaci√≥n:</strong> 
                {'Distribuci√≥n sim√©trica' if abs(skew_val) < 0.5 else 'Distribuci√≥n asim√©trica'} ‚Ä¢ 
                {'Forma normal' if abs(kurt_val) < 2 else 'Forma no-normal'}
            </div>
        </div>
        """))

# ==============================================================
# CONECTAR EVENTOS Y CONSTRUIR INTERFAZ
# ==============================================================

w_holeid.observe(create_viz, names='value')
w_bins.observe(create_viz, names='value')
w_remove_na.observe(create_viz, names='value')
w_show_outliers.observe(create_viz, names='value')

header = widgets.HTML("""
<div style='background:linear-gradient(135deg,#0ea5e9,#0369a1);padding:20px;
            border-radius:12px;color:white;text-align:center;margin-bottom:20px;'>
    <h2 style='margin:0;'>üíß An√°lisis de Distribuci√≥n de Niveles Est√°ticos</h2>
    <p style='margin:8px 0 0 0;opacity:0.9;'>Dashboard Exploraci√≥n por Pozo</p>
</div>
""")

filters = VBox([
    widgets.HTML("<h4>üîç Filtro de Pozo</h4>"),
    HBox([w_holeid])
])

config = VBox([
    widgets.HTML("<h4>‚öôÔ∏è Configuraci√≥n</h4>"),
    HBox([w_bins, w_remove_na, w_show_outliers])
])

ui = VBox([header, filters, config, output],
        layout=widgets.Layout(padding='20px', background_color='#f8fafc', border_radius='16px'))

display(ui)

‚úÖ Dataset cargado correctamente: 556,587 registros

VBox(children=(HTML(value="\n<div style='background:linear-gradient(135deg,#0ea5e9,#0369a1);padding:20px;\n   ‚Ä¶

### M√©todo de Detecci√≥n de Outliers: Rango Intercuart√≠lico (IQR)

En el an√°lisis de distribuci√≥n del dashboard, se utiliza el m√©todo **IQR (Interquartile Range)** para detectar outliers. Este m√©todo define l√≠mites inferiores y superiores a partir de los cuartiles, y considera como outliers aquellos valores que se encuentran fuera del siguiente rango:
$
\[
\text{Outliers} = \{ x\ |\ x < Q1 - 1.5 \times IQR\ \text{o}\ x > Q3 + 1.5 \times IQR \}
\]

Donde:

- **Q1** = primer cuartil (percentil 25)
- **Q3** = tercer cuartil (percentil 75)
- **IQR** = Q3 - Q1

#### Implementaci√≥n en el c√≥digo:

```python
Q1 = df_temp[var_name].quantile(0.25)
Q3 = df_temp[var_name].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_mask = (df_temp[var_name] < lower_bound) | (df_temp[var_name] > upper_bound)


Ventajas del m√©todo IQR:

* Es robusto ante distribuciones no normales.

* No depende de la media ni la desviaci√≥n est√°ndar.

* Reduce la sensibilidad frente a valores extremos.

* Compatible con representaciones tipo boxplot.

In [17]:
import pandas as pd
import numpy as np

# ============================================================
# 1 CONFIGURACI√ìN INICIAL
# ============================================================

df = df_caudal_aforos.copy()

# Validar columnas m√≠nimas
required_cols = ['holeid', 'fecha', 'caudal_l/s']
for c in required_cols:
    if c not in df.columns:
        raise ValueError(f"Falta la columna requerida: {c}")

df['fecha'] = pd.to_datetime(df['fecha'], errors='coerce')
df = df.dropna(subset=['holeid', 'fecha'])

# ============================================================
# 2 ETIQUETAR OUTLIERS POR HOLEID
# ============================================================

def etiquetar_outliers(grupo):
    """Detecta y etiqueta outliers por IQR dentro de cada holeid"""
    Q1 = grupo['caudal_l/s'].quantile(0.25)
    Q3 = grupo['caudal_l/s'].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    grupo = grupo.copy()
    grupo['lower_bound'] = lower
    grupo['upper_bound'] = upper
    grupo['IQR'] = IQR
    grupo['outlier_flag'] = np.where(
        (grupo['caudal_l/s'] < lower) | (grupo['caudal_l/s'] > upper),
        'Outlier', 'Normal'
    )
    return grupo

df_etiquetado = df.groupby('holeid', group_keys=False).apply(etiquetar_outliers)

print(f"Etiquetado completado: {df_etiquetado.shape[0]:,} registros procesados.")
print(f"Pozos analizados: {df_etiquetado['holeid'].nunique()}")

# ============================================================
# 3 ESTAD√çSTICOS DESCRIPTIVOS POR HOLEID
# ============================================================

stats_by_holeid = (
    df_etiquetado.groupby('holeid')['caudal_l/s']
    .agg(['count', 'mean', 'median', 'std', 'min', 'max'])
    .reset_index()
)

stats_by_holeid['skew'] = (
    df_etiquetado.groupby('holeid')['caudal_l/s'].apply(lambda x: x.skew()).values
)
stats_by_holeid['kurtosis'] = (
    df_etiquetado.groupby('holeid')['caudal_l/s'].apply(lambda x: x.kurtosis()).values
)

# ============================================================
# 4 RESUMEN DE OUTLIERS POR HOLEID
# ============================================================

resumen_outliers = (
    df_etiquetado.groupby(['holeid', 'outlier_flag'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# Asegurar columnas presentes
if 'Outlier' not in resumen_outliers.columns:
    resumen_outliers['Outlier'] = 0
if 'Normal' not in resumen_outliers.columns:
    resumen_outliers['Normal'] = 0

resumen_outliers['Total'] = resumen_outliers['Outlier'] + resumen_outliers['Normal']
resumen_outliers['Porcentaje_Outliers'] = (
    resumen_outliers['Outlier'] / resumen_outliers['Total'] * 100
).round(2)

resumen_outliers = resumen_outliers.sort_values('Porcentaje_Outliers', ascending=False)

print(f"Resumen de outliers generado para {len(resumen_outliers)} pozos.")

# ============================================================
# 5 EXPORTAR A EXCEL (3 hojas)
# ============================================================

output_path = "analisis_caudal_aforos_completo.xlsx"

with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
    df_etiquetado.to_excel(writer, sheet_name='Datos_Etiquetados', index=False)
    stats_by_holeid.to_excel(writer, sheet_name='Estadisticos_Por_HoleID', index=False)
    resumen_outliers.to_excel(writer, sheet_name='Resumen_Outliers', index=False)

print(f"Archivo Excel exportado exitosamente: {output_path}")

C:\Users\Cesar\AppData\Local\Temp\ipykernel_34080\2589730048.py:41: FutureWarning:

DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.

Etiquetado completado: 12,586 registros procesados.
Pozos analizados: 120
Resumen de outliers generado para 120 pozos.
Archivo Excel exportado exitosamente: analisis_caudal_aforos_completo.xlsx

In [71]:
df_etiquetado.head()

,objectid,id_estacion,holeid,equivalencia_flow,fecha,comentario_fecha,caudal_l/s,tipo_sta,tipo_de_dato_ambiental_mlp,obsevaciones_campagna_icass,fuente_caudal,lower_bound,upper_bound,IQR,outlier_flag
0,1,106,10AS,NaN,2020-01-07,NaN,3.0,NaN,NaN,NaN,HL_Aforos_23052024.xlsx,-5.0,11.0,4.0,Normal
1,2,106,10AS,NaN,2020-02-20,NaN,1.0,NaN,NaN,NaN,HL_Aforos_23052024.xlsx,-5.0,11.0,4.0,Normal
2,3,106,10AS,NaN,2020-03-03,NaN,1.0,NaN,NaN,NaN,HL_Aforos_23052024.xlsx,-5.0,11.0,4.0,Normal
3,4,106,10AS,NaN,2020-04-08,NaN,1.0,NaN,NaN,NaN,HL_Aforos_23052024.xlsx,-5.0,11.0,4.0,Normal
4,5,106,10AS,NaN,2020-05-18,NaN,2.0,NaN,NaN,NaN,HL_Aforos_23052024.xlsx,-5.0,11.0,4.0,Normal

In [ ]:
# # Crear conexi√≥n a la base de datos
# from sqlalchemy import create_engine
# from sqlalchemy.exc import OperationalError

# try:
#     engine = create_engine('postgresql://cesar.godoy:Godoka1977$@192.168.128.10:5432/db_integrada_mlp')
#     df_caudal_aforos.to_sql('hlg_caudal_aforos_best', engine, index=False, schema='public', if_exists='append')
#     print("Exportaci√≥n exitosa")
# except OperationalError as e:
#     print(f"Error de conexi√≥n a la base de datos: {e}")
# except Exception as e:
#     print(f"Error al exportar el DataFrame: {e}")

Exportaci√≥n exitosa